#entire_board {
  background-image: url("../images/CoconectFour.png");
  /*background-color: #FFE737;*/
  height: 100%;
  width: 50%;
  margin: 8% auto;
  /*border-radius: 2%;*/
  margin-bottom: 0.5%;
}

body {
  background-image: url("../images/coconect.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /*background-color: #FFF6B7;*/
  font-family: 'Freckle Face', cursive;
}

.players {
  
}

.cell {
  /*background-color: #2980b9;*/
  /*opacity: 0.10;*/
  border-radius: 50%;
  height:80px;
  width: 80px;
  margin-top: 6%
}

.column {
  display: inline-block;
  height: 100%;
  width: 13%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#column_wrapper {
  text-align: center;
  margin-left: 1.5%;
}

#current_player {
  height: 10%;
  position: inline-block;
}

footer {
  margin-left: 30%;
  font-size: 250%;
  text-align: center;
  margin-top: -2%;
  margin-right: 2%;
  width: 40%;
}

.red_cell {
  background-color: red;
}
