html {
  overflow-y: hidden;
}

#entire_board {
  background-image: url("../images/CoconectFour.png");
  /*background-color: #FFE737;*/
  height: 100%;
  width: 50%;
  margin: 8% auto;
  border-radius: 2%;
  margin-bottom: 0.5%;
  margin-top: -.5em;
  background-repeat: no-repeat;
}

body {
  background-image: url("../images/coconect.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Freckle Face';
}
#playerheader {
  text-align: center;
}

#players {
  display: inline;
  font-size: 3em;
  text-align: center;
  color: black;
}

#gameover {
  font-size: 3.5em;
  color: red;
  margin: auto;
  display: none ;
  text-align: center;
  position: fixed;

}

#bluebar {
  background-color: blue;
}

.cell {
  border-radius: 50%;
  height:80px;
  width: 80px;
  margin-top: 6%
}

.column {
  display: inline-block;
  height: 100%;
  width: 13%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#column_wrapper {
  text-align: center;
  margin-left: 1.5%;
}

#current_player {
  height: 10%;
  position: inline-block;
}

footer {
  margin-left: 30%;
  font-size: 250%;
  text-align: center;
  margin-top: -2%;
  margin-right: 2%;
  width: 40%;
}

.red_cell {
  background-color: red;
}
